/*
Theme Name: Peaceful Sleep
*/
.featured-post .featured-post__container .featured-post__content .featured-post__category.dark a,
.related-post__post .related-post__content .related-post__category.dark a,
.blog-header .featured-post__container .featured-post__content .featured-post__category.dark a,
.blog-single-header .__container .__content .__category.dark a{
    color: #fff;
}
.category-card .__title h1{
    display: inline-block;
    white-space: nowrap;
}
.category-card .badge {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    font-size: 16px;
    font-weight: 500;
}
.accordion>li .content p,
.wpcf7 p {
    margin:0;
}
.side-widget{ 
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .category-card .badge {
        right: 30px;
    }
}

.breadcrumbs .breadcrumb > li + li:before {
    display:inline-block;
    vertical-align:top;
    margin:1px 0 0;
}
.section-results h2 + [class*="col-"]{
    display:inline-block;
    vertical-align:top;
    float:none;
}

.navbar-form {
    margin-right: 0;
    width:215px;
}
@media (max-width: 767px){
	.navbar-form {
			width:100%;
	}
}
.navbar-form [class*="material"] {
    color:#95989a;
    font-size: 20px;
    left:10px;
    position:absolute;
    pointer-events: none;
    top:50%;
    transform: translateY(-50%);
}
.navbar-form .form-group{
    position:relative;
}
.navbar-form .form-control{
    background:#f3f4f4;
    border-color: #f3f4f4;
    box-shadow: none !important;
    padding-left: 47px;
    width:100%;
}

.slick-slider {
    height: auto !important;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 -15px;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

header, footer, section {
    width: 100%;
    /* overflow: hidden; */
}

@media (min-width: 767px){
    .slick-slide>div {
        display: flex;
        padding: 0 !important;
    }
    .slick-slide>div>div {
        margin: 0 15px 30px;
        max-width: calc(50% - 30px) !important;
    }
}

@media (max-width: 767px){
    .slick-slide>div {
        display: block;
    }
    .slick-slide {
        margin: 0 15px;
    }
    .slick .slick-slide>div>div {
        max-width: none !important;
    }
    .slick-list {
        margin: 0 -30px;
        padding-bottom: 15px !important;
    }
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {

}

.slick-track:after {
    clear: both;
    display: block;
}

/* // .slick-track .slick-slide:nth-child(even) {
//     float: none !important;
//     overflow: hidden;
// } */

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slider * {
    outline: none;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-arrow.slick-hidden {
    display: none;
}
.slick-slider .post-card {
    min-height: 429px;
    padding: 0;
}
.slick-dots2,
.slick-dots{
    text-align: center;
}

.slick-dots2 .slick-next2,
.slick-dots2 .slick-prev2,
.slick-dots .slick-next,
.slick-dots .slick-prev {
    display: inline-block;
    color: #273691;
    vertical-align: top;
    cursor: pointer;
}

.slick-dots2 .slick-next2 i,
.slick-dots2 .slick-prev2 i,
.slick-dots .slick-next i,
.slick-dots .slick-prev i {
    display: block;
    height: 24px;
    width: 24px;
}

.slick-dots2 .dots-holder2,
.slick-dots .dots-holder {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #273691;
    padding: 7px;
}

.slick-dots2 .dots-holder2 ul,
.slick-dots .dots-holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slick-dots2 .dots-holder2 ul li,
.slick-dots .dots-holder ul li {
    float: left;
    padding: 0 2px;
}

.slick-dots2 .dots-holder2 button,
.slick-dots .dots-holder button {
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    border: none;
    padding: 0;
    text-indent: -9999px;
    overflow: hidden;
    outline: none;
}

.slick-dots2 .dots-holder2 .slick-active button,
.slick-dots .dots-holder .slick-active button {
    background: #273691;
}

footer i.fa-youtube-play {
    font-size: 42px !important;
    line-height: 0.72;
    color: #999;
}

.footer__social {
    float: right;
    padding: 0 15px;
}

.st-remove-label {
    display: block !important;
    float: left;
}

footer li a {
    color: #ababab !important;
}

.peacefulsleep_post_featured_product{
    position: relative;
}
.peacefulsleep_post_featured_product #featured-products-dots{
    position:absolute;
    bottom:-30px;
    left:58%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    z-index:3
}
.blog-single-header {
    height: 540px;
}

@media (max-width: 767px){
    .footer__social {
        width: 50%;
    }
    footer .tb-logo {
        bottom: -30px;
    }
    footer .st-btn {
        margin-bottom: 8px;
    }
    .peacefulsleep_post_featured_product #featured-products-dots{
        left:50%;
    }
}

